/* Fix footer to the bottom */
.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
/* ...existing code... */
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 1000;
}
/* ...existing code... */